---
import Layout from "../layouts/Layout.astro";
import Portada from "../components/Portada.astro";
import NuestraHistoria from "../components/NuestraHistoria.astro";
import Razones from "../components/Razones.astro";
import Galeria from "../components/Galeria.astro";
import PieDePagina from "../components/PieDePagina.astro";

const nombreDeTuNovia = "Esthela Victoria Suarez"; // <-- ¡Cambia esto!
---

<Layout
  title={`Para ${nombreDeTuNovia}, con todo mi amor`}
  nombreNovia={nombreDeTuNovia}
>
  <main>
    <Portada nombre={nombreDeTuNovia} />
    <NuestraHistoria />
    <Razones />
    <Galeria />
    <PieDePagina />
  </main>
</Layout>
