---
const anio = new Date().getFullYear();
const Nombre = "Miguel Betzay Dominguez Diaz";
---

<footer>
  <div class="container">
    <p>Hecho con todo mi amor por {Nombre} &copy; {anio}</p>
    <p class="corazon">♥</p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-secundario);
    color: white;
    padding: 1rem 0;
  }
  .corazon {
    color: var(--color-primario);
    font-size: 2rem;
    margin-top: -1rem;
  }
</style>
